/* || General setup */

html, body, h2, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.container {
  max-width: 960px;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: serif;
  background-color: rgba(139, 11, 11, 0.5);
}

/* || typography */

h1, h2, h3 {
  font-family: 'Lobster Two', cursive;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 10px black;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

/* || header layout */

.header {
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(139, 11, 11, 0.5);
  align-items: center;
}

body > * {
  background-color: rgb(204, 199, 156);
}

h1 {
  flex: 5;
  text-transform: uppercase;
  color: white;
}

/* || main layout */

.individual_output {

  padding: 10px;
  width: 175px;
  flex: 0 1 auto;
  margin-right: 15px;
}

.dropDownColumn, .navigationContainer {
  flex: 0 2 auto;
  background-color: rgb(204, 199, 156);
  padding: 20px; 
}

@media screen and (max-width: 1000px) {
  .container {
    justify-content: center;
  }
  .individual_output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    margin-bottom: 15px;
  }

}